
.docs-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-top: 80px;
}
.flex-container {
  display: flex;
  margin-top: 20px;
}
.steps-container {
  display: flex;
  align-items: center;
  flex: 1;
  margin-right: 20px;
}
.code-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step {
  width: 100%;
  background: #1a1a1a; /* Dark background for the step section */
  padding: 15px;
  margin-bottom: 10px;
  border-left: 4px solid #4fd1c5; /* Tailwind CSS brand color for example */
}

.code-block {
  position: relative;
  margin-bottom: 10px;
}
.code-block button {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px 10px;
  background: #333;
  color: #ccc;
  border: none;
  cursor: pointer;
}

#preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
}
.preview-button {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 5px 10px;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}
.green {
  color:#9ec79b;
  border: 3px solid green;
  background: rgb(57, 86, 57);
}
.red {
  width: 100px;
  color:#d3a7a2;
  border: 3px solid rgb(226, 73, 59);
  background: rgb(125, 98, 92);
}
.green:hover {
  color: rgb(2, 38, 2);
  background:rgb(74, 175, 91);
}
.red:hover {
  color: rgb(138, 9, 0);
  background:rgb(181, 83, 68);
}